.auth_main {
	border-radius: 20px;
	position: fixed;
	inset: 0;
	width: 482px;
	height: 582px;
	margin: auto;
	background: rgb(23, 28, 69);
	background: linear-gradient(
		90deg,
		rgba(23, 28, 69, 1) 0%,
		rgba(0, 0, 0, 1) 100%
	);
}
