@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;
@import url('https://fonts.googleapis.com/css2?family=Alice&display=swap');

* {
	font-family: 'Alice', sans-serif;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

@layer utilities {
	*::-webkit-scrollbar {
		width: 5px;
		background: #cccccc;
	}

	*::-webkit-scrollbar-thumb {
		background: #898989;
	}
	* {
		scrollbar-color: #898989 #cccccc;
	}
}

html,
body {
	@apply overflow-x-hidden w-screen min-h-screen;
}

.errorText {
	@apply text-red-500 text-sm ml-4;
}

.transitionGeneral {
	transition: all 1s ease-in-out;
}

.transitionFast {
	transition: all 0.3s ease-in-out;
}

.bg-main {
	background: #242426;
}

.bg-gradient-main {
	background: linear-gradient(
		90deg,
		rgba(23, 28, 69, 1) 0%,
		rgba(0, 0, 0, 1) 100%
	);
}

.button:hover .passive {
	opacity: 0 !important;
}

.image_load_curtain {
	transition: all 0.5s ease-in-out;
	opacity: 0;
}

.imageBlock:hover .image_load_curtain {
	transition: all 0.5s ease-in-out;
	opacity: 1;
}
